*.suo
*.cache
*/bin/Debug/*
kAICore/obj/Debug/kAICore.csproj.FileListAbsolute.txt
kAICore/obj/*
kAIDocs/gen/*
kAIDocs/html/*
kAIDocs/Sandcastle/kAI.shfbproj_Thomas
kAIDocs/Sandcastle/output.log
kAIDocs/Planning/.~lock.timesheet.ods#
kAI-Editor/obj/x86/Debug/kAI-Editor.csproj.FileListAbsolute.txt
kAI-Editor/obj/*
kAI.vsmdi
kAICore-Test/obj/*
kAITestBehaviours/obj/*
kAI-Editor/Assets/00000002
kAI-Editor/Assets/00000003
TestCodeBehaviours/obj/*
TraceAndTestImpact.testsettings
Local.testsettings
kAIPM_2/*
DirectXkAI*
kAI-Example/*
kAI-Example/*
kAI-Editor/kAI-Editor.csproj.orig
SpriteTextRenderer/_UpgradeReport_Fil*
SpriteTextRenderer/SpriteTextRenderer/bin/*
SpriteTextRenderer/SpriteTextRenderer/obj/*
SpriteTextRenderer/UpgradeLog.*
